body {
  min-height: 2000px;
}
.navbar-branded.navbar-fixed-top {
  transition: all 200ms;
  background: transparent;
  border-bottom: none;
  top: 10px;
  min-height: 70px;
  padding: 5px;
}
.navbar-branded.navbar-fixed-top .container {
  width: 100%;
}
.navbar-branded.navbar-fixed-top .navbar-toggle {
  margin-top: 15px;
}
.navbar-branded.navbar-fixed-top .navbar-brand {
  padding: 0;
}
.navbar-branded.navbar-fixed-top .navbar-nav > li > a {
  font-size: 18px;
  padding-top: 41px;
  padding-bottom: 10px;
  margin-left: 5px;
}
.navbar-branded.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-branded.navbar-fixed-top .navbar-nav > li > a.active {
  background: transparent;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}
.navbar-branded.navbar-fixed-top .navbar-foundation-logo {
  width: 260px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
.navbar-branded.navbar-fixed-top .navbar-foundation-teams {
  height: 100px;
  display: inline-block;
  margin-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  padding-left: 20px;
  font-size: 28px;
  line-height: 36px;
  padding-top: 14px;
  font-weight: normal;
}
.navbar-branded.navbar-fixed-top.navscale-100 {
  background: rgba(42, 148, 214, 0);
  top: 10px;
  min-height: 110px;
}
.navbar-branded.navbar-fixed-top.navscale-100 .navbar-nav > li > a {
  font-size: 18px;
  padding-top: 41px;
  padding-bottom: 20px;
}
.navbar-branded.navbar-fixed-top.navscale-100 .navbar-foundation-logo {
  height: 100px;
  width: 260px;
}
.navbar-branded.navbar-fixed-top.navscale-100 .navbar-foundation-teams {
  height: 100px;
  font-size: 28px;
  line-height: 36px;
  padding-top: 14px;
}
.navbar-branded.navbar-fixed-top.navscale-90 {
  background: rgba(42, 148, 214, 0.1);
  top: 9px;
  min-height: 106px;
}
.navbar-branded.navbar-fixed-top.navscale-90 .navbar-nav > li > a {
  font-size: 17px;
  padding-top: 39px;
  padding-bottom: 18px;
}
.navbar-branded.navbar-fixed-top.navscale-90 .navbar-foundation-logo {
  height: 96px;
  width: 249px;
}
.navbar-branded.navbar-fixed-top.navscale-90 .navbar-foundation-teams {
  height: 96px;
  font-size: 26px;
  line-height: 34px;
  padding-top: 13px;
}
.navbar-branded.navbar-fixed-top.navscale-80 {
  background: rgba(42, 148, 214, 0.2);
  top: 8px;
  min-height: 102px;
}
.navbar-branded.navbar-fixed-top.navscale-80 .navbar-nav > li > a {
  font-size: 17px;
  padding-top: 37px;
  padding-bottom: 17px;
}
.navbar-branded.navbar-fixed-top.navscale-80 .navbar-foundation-logo {
  height: 92px;
  width: 239px;
}
.navbar-branded.navbar-fixed-top.navscale-80 .navbar-foundation-teams {
  height: 92px;
  font-size: 25px;
  line-height: 32px;
  padding-top: 13px;
}
.navbar-branded.navbar-fixed-top.navscale-70 {
  background: rgba(42, 148, 214, 0.3);
  top: 7px;
  min-height: 98px;
}
.navbar-branded.navbar-fixed-top.navscale-70 .navbar-nav > li > a {
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 15px;
}
.navbar-branded.navbar-fixed-top.navscale-70 .navbar-foundation-logo {
  height: 88px;
  width: 228px;
}
.navbar-branded.navbar-fixed-top.navscale-70 .navbar-foundation-teams {
  height: 88px;
  font-size: 24px;
  line-height: 31px;
  padding-top: 12px;
}
.navbar-branded.navbar-fixed-top.navscale-60 {
  background: rgba(42, 148, 214, 0.4);
  top: 6px;
  min-height: 94px;
}
.navbar-branded.navbar-fixed-top.navscale-60 .navbar-nav > li > a {
  font-size: 16px;
  padding-top: 34px;
  padding-bottom: 14px;
}
.navbar-branded.navbar-fixed-top.navscale-60 .navbar-foundation-logo {
  height: 84px;
  width: 218px;
}
.navbar-branded.navbar-fixed-top.navscale-60 .navbar-foundation-teams {
  height: 84px;
  font-size: 23px;
  line-height: 29px;
  padding-top: 12px;
}
.navbar-branded.navbar-fixed-top.navscale-50 {
  background: rgba(42, 148, 214, 0.5);
  top: 5px;
  min-height: 90px;
}
.navbar-branded.navbar-fixed-top.navscale-50 .navbar-nav > li > a {
  font-size: 16px;
  padding-top: 33px;
  padding-bottom: 12px;
}
.navbar-branded.navbar-fixed-top.navscale-50 .navbar-foundation-logo {
  height: 80px;
  width: 208px;
}
.navbar-branded.navbar-fixed-top.navscale-50 .navbar-foundation-teams {
  height: 80px;
  font-size: 22px;
  line-height: 28px;
  padding-top: 12px;
}
.navbar-branded.navbar-fixed-top.navscale-40 {
  background: rgba(42, 148, 214, 0.6);
  top: 4px;
  min-height: 86px;
}
.navbar-branded.navbar-fixed-top.navscale-40 .navbar-nav > li > a {
  font-size: 15px;
  padding-top: 31px;
  padding-bottom: 11px;
}
.navbar-branded.navbar-fixed-top.navscale-40 .navbar-foundation-logo {
  height: 76px;
  width: 197px;
}
.navbar-branded.navbar-fixed-top.navscale-40 .navbar-foundation-teams {
  height: 76px;
  font-size: 20px;
  line-height: 26px;
  padding-top: 11px;
}
.navbar-branded.navbar-fixed-top.navscale-30 {
  background: rgba(42, 148, 214, 0.7);
  top: 3px;
  min-height: 82px;
}
.navbar-branded.navbar-fixed-top.navscale-30 .navbar-nav > li > a {
  font-size: 15px;
  padding-top: 29px;
  padding-bottom: 9px;
}
.navbar-branded.navbar-fixed-top.navscale-30 .navbar-foundation-logo {
  height: 72px;
  width: 187px;
}
.navbar-branded.navbar-fixed-top.navscale-30 .navbar-foundation-teams {
  height: 72px;
  font-size: 19px;
  line-height: 24px;
  padding-top: 11px;
}
.navbar-branded.navbar-fixed-top.navscale-20 {
  background: rgba(42, 148, 214, 0.8);
  top: 2px;
  min-height: 78px;
}
.navbar-branded.navbar-fixed-top.navscale-20 .navbar-nav > li > a {
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 8px;
}
.navbar-branded.navbar-fixed-top.navscale-20 .navbar-foundation-logo {
  height: 68px;
  width: 176px;
}
.navbar-branded.navbar-fixed-top.navscale-20 .navbar-foundation-teams {
  height: 68px;
  font-size: 18px;
  line-height: 23px;
  padding-top: 10px;
}
.navbar-branded.navbar-fixed-top.navscale-10 {
  background: rgba(42, 148, 214, 0.9);
  top: 1px;
  min-height: 74px;
}
.navbar-branded.navbar-fixed-top.navscale-10 .navbar-nav > li > a {
  font-size: 14px;
  padding-top: 26px;
  padding-bottom: 6px;
}
.navbar-branded.navbar-fixed-top.navscale-10 .navbar-foundation-logo {
  height: 64px;
  width: 166px;
}
.navbar-branded.navbar-fixed-top.navscale-10 .navbar-foundation-teams {
  height: 64px;
  font-size: 17px;
  line-height: 21px;
  padding-top: 10px;
}
.navbar-branded.navbar-fixed-top.navscale-0 {
  background: #2a94d6;
  top: 0px;
  min-height: 70px;
}
.navbar-branded.navbar-fixed-top.navscale-0 .navbar-nav > li > a {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 5px;
}
.navbar-branded.navbar-fixed-top.navscale-0 .navbar-foundation-logo {
  height: 60px;
  width: 156px;
}
.navbar-branded.navbar-fixed-top.navscale-0 .navbar-foundation-teams {
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
}
.project-cloud {
  background: #2a94d6;
  background-image: -webkit-linear-gradient(top, #2a94d6 0%, #aad4ef 100%);
  background-image: linear-gradient(to bottom, #2a94d6 0%, #aad4ef 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2a94d6', endColorstr='#ffaad4ef', GradientType=0);
  padding: 200px;
}
