<header class="navbar navbar-default navbar-fixed-top navbar-branded navscale-100" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./index.html" class="navbar-brand"><div class="navbar-foundation-logo">Salesforce.com Foundation</div><div class="navbar-foundation-teams">Technology <br />&amp; Products</div></a>
    </div>
    <nav class="collapse navbar-collapse nav-primary" role="navigation">
      {% include nav-main.html %}
    </nav>
  </div>
</header>