<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="post">
    <script>
      window.location.href = '/#blog/post' + window.location.pathname;
    </script>
    {% include header.html %}

    <div class="post">
      <div class="meta">
        <div class="post-date">{{ page.date | date: '%B %d, %Y' }}</div>
        {% if page.author %}
          {% assign member = site.data.members[page.author] %}
          <img class="avatar" src="{{member.avatar}}?s=140" alt="{{page.author}}">
          <span class="post-author">by {{ page.author }}</span>
        {% endif %}
        <div class="post-share">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="none" data-dnt="true">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
      <h2 class="post-title">{{ page.title }}</h2>
      <div class="content">
        {{ content }}
      </div>
    </div>
        
    {% include footer.html %}
  </body>
</html>


